html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #24292e;
  height: 45px;
  color: white;
}

.header h1 {
  padding-left: 10px;
}

.body {
  flex-direction: column;
  height: 100%;
  background-color: rgb(245, 238, 238);
}

.body img {
  height: 100%;
  width: auto;
}
